@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sidebar {
    @apply fixed top-0 left-0 h-screen w-16 m-0 flex flex-col 
          bg-gray-900 text-white shadow-lg;
  }

  .sidebar-icon {
    @apply flex items-center justify-center 
           h-12 w-12 mt-2 mb-2 mx-auto
           bg-gray-800 text-green-500
           hover:bg-green-300 hover:text-white
           rounded-2xl hover:rounded-none
           transition-all duration-300 ease-linear;
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md
         text-white bg-gray-900 
         text-xs font-bold 
         transition-all duration-300 scale-0 origin-left;
  }

  .top-navigation {
    @apply flex flex-row items-center justify-evenly 
    bg-gray-300 dark:bg-gray-700 bg-opacity-90 
    w-screen h-16 fixed;
  }

  .title-text {
    @apply text-xl text-gray-500 tracking-wider font-semibold text-opacity-80 
    mr-auto ml-32 my-auto 
    transition duration-300 ease-in-out;
  }

  .meetup-list {
    @apply flex items-center justify-center h-screen;
  }

  .meetup {
    @apply grid h-80 w-44 bg-green-300 rounded-md shadow-2xl
    hover:-translate-y-6
    peer-hover:translate-x-5
    peer-first:-ml-4
    after:translate-x-3
    transition duration-300;
  }

  .meetup-form-item {
    @apply flex items-center justify-start bg-gray-400 rounded h-9 text-gray-500 shadow-md font-sans font-semibold;
  }

  .meetup-form-item-text {
    @apply bg-transparent outline-none font-sans text-gray-700 placeholder-gray-500 pl-1;
  }
}
